{% load static %}

                    <div class="culture-news">
                        <div class="section-title">
                            <h2>Culture</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-culture-news">
                                    <div class="culture-news-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/culture-news/culture-news-1.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                    <div class="culture-news-content">
                                        <span>Culture</span>
                                        <h3>
                                            <a href="#">Entertainment activists started again a few months later</a>
                                        </h3>
                                        <p><a href="#">Steven</a> / 28 September, 2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="culture-news-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="culture-news-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/culture-news/culture-news-2.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="culture-news-content">
                                                <h3>
                                                    <a href="#">Working in the garden is a tradition for women</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="culture-news-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="culture-news-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/culture-news/culture-news-3.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="culture-news-content">
                                                <h3>
                                                    <a href="#">The fashion that captures the lives of women</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="culture-news-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="culture-news-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/culture-news/culture-news-4.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="culture-news-content">
                                                <h3>
                                                    <a href="#">A group of artists performed music in a group way</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>