{% load static %}

                    <div class="most-popular-news">
                        <div class="section-title">
                            <h2>Most popular</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-most-popular-news">
                                    <div class="popular-news-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/most-popular/most-popular-1.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                    <div class="popular-news-content">
                                        <span>Politics</span>
                                        <h3>
                                            <a href="#">The Prime Minister’s said that selfish nations are constantly dying for their won interests.</a>
                                        </h3>
                                        <p><a href="#">Patricia</a> / 28 September, 2021</p>
                                    </div>
                                </div>
                                <div class="single-most-popular-news">
                                    <div class="popular-news-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/most-popular/most-popular-2.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                    <div class="popular-news-content">
                                        <span>Premer league</span>
                                        <h3>
                                            <a href="#">Manchester United’s dream of winning by a goal was fulfilled</a>
                                        </h3>
                                        <p><a href="#">Gonzalez</a> / 28 September, 2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="most-popular-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="post-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/most-popular/most-popular-3.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="post-content">
                                                <span>Culture</span>
                                                <h3>
                                                    <a href="#">As well as stopping goals, Christiane Endler is opening.</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="most-popular-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="post-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/most-popular/most-popular-4.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="post-content">
                                                <span>Technology</span>
                                                <h3>
                                                    <a href="#">The majority of news published online presents more videos</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="most-popular-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="post-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/most-popular/most-popular-5.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="post-content">
                                                <span>Business</span>
                                                <h3>
                                                    <a href="#">This movement aims to establish women’s rights.</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="most-popular-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="post-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/most-popular/most-popular-6.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="post-content">
                                                <span>Politics</span>
                                                <h3>
                                                    <a href="#">Trump discusses various issues with his party’s political leaders.</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>