{% load static %}

                    <div class="politics-news">
                        <div class="section-title">
                            <h2>Politics</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-politics-news">
                                    <div class="politics-news-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/politics-news/politics-news-1.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                    <div class="politics-news-content">
                                        <span>Politics</span>
                                        <h3>
                                            <a href="#">Organizing conference among our selves to make it better financially</a>
                                        </h3>
                                        <p><a href="#">Jonson Steven</a> / 28 September, 2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="politics-news-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="politics-news-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/politics-news/politics-news-2.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="politics-news-content">
                                                <h3>
                                                    <a href="#">Politically, new riots have started inside the country</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="politics-news-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="politics-news-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/politics-news/politics-news-3.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="politics-news-content">
                                                <h3>
                                                    <a href="#">Public discussion in 5 major issues</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="politics-news-post">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4">
                                            <div class="politics-news-image">
                                                <a href="#">
                                                    <img src="{% static 'assets/img/politics-news/politics-news-4.jpg' %}" alt="image" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                            <div class="politics-news-content">
                                                <h3>
                                                    <a href="#">Preparations are being made in a new way for the elections</a>
                                                </h3>
                                                <p>28 September, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>