{% load static %}

                    <div class="video-news">
                        <div class="section-title">
                            <h2>Top video</h2>
                        </div>
                        <div class="video-slides owl-carousel owl-theme">
                            <div class="video-item">
                                <div class="video-news-image">
                                    <a href="#">
                                        <img src="{% static 'assets/img/video-news/video-news-1.jpg' %}" alt="image" />
                                    </a>
                                    <a href="https://www.youtube.com/watch?v=UG8N5JT4QLc" class="popup-youtube">
                                        <i class="bx bx-play-circle"></i>
                                    </a>
                                </div>
                                <div class="video-news-content">
                                    <h3>
                                        <a href="#">---Apply these 10 secret techniques to improve travel</a>
                                    </h3>
                                    <span>28 September, 2021</span>
                                </div>
                            </div>
                            <div class="video-item">
                                <div class="video-news-image">
                                    <a href="#">
                                        <img src="{% static 'assets/img/video-news/video-news-2.jpg' %}" alt="image" />
                                    </a>
                                    <a href="https://www.youtube.com/watch?v=UG8N5JT4QLc" class="popup-youtube">
                                        <i class="bx bx-play-circle"></i>
                                    </a>
                                </div>
                                <div class="video-news-content">
                                    <h3>
                                        <a href="#">The lazy man’s guide to travel you to our moms</a>
                                    </h3>
                                    <span>28 September, 2021</span>
                                </div>
                            </div>
                            <div class="video-item">
                                <div class="video-news-image">
                                    <a href="#">
                                        <img src="{% static 'assets/img/video-news/video-news-3.jpg' %}" alt="image" />
                                    </a>
                                    <a href="https://www.youtube.com/watch?v=UG8N5JT4QLc" class="popup-youtube">
                                        <i class="bx bx-play-circle"></i>
                                    </a>
                                </div>
                                <div class="video-news-content">
                                    <h3>
                                        <a href="#">**Sony laptops are still part of the sony family</a>
                                    </h3>
                                    <span>28 September, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>