{% load static %}

    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                    Copyright © 2021 Depan. All Rights Reserved by
                    <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                    Developed with Love by 
                    <a href="">
                        <span style="border:solid 1px; padding: 5px;">ING AFTER 63</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="go-top">
        <i class="bx bx-up-arrow-alt"></i>
    </div>