{% load static %}

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Recent posts</h2>
                        <div class="post-content">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="post-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/recent-post/recent-post-1.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h4>
                                        <a href="#">The match of the volleyball full of excitement</a>
                                    </h4>
                                    <span>28 Sep 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="post-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/recent-post/recent-post-2.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h4>
                                        <a href="#">The match of the volleyball full of excitement</a>
                                    </h4>
                                    <span>28 Sep 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="post-image">
                                        <a href="#">
                                            <img src="{% static 'assets/img/recent-post/recent-post-3.jpg' %}" alt="image" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h4>
                                        <a href="#">The match of the volleyball full of excitement</a>
                                    </h4>
                                    <span>28 Sep 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>