{% extends 'base.html' %}
{% load static %}

{% block title %}Register Completed{% endblock title %}

{% block content %}


    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Welcome, {{ new_user.first_name }}</h2>
            </div>
            <div class="page-title-content">
                Your account was successfully created.
                You can <a href="{% url 'users:user_login' %}">log in.</a>
            </div>
        </div>
    </div>


{% endblock content %}


