{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}

<!-- Messages -->
{% if messages %}
    <div class="shadow-custom messages 
        alert alert-danger col-lg-4 mx-auto text-center">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                {{ message }}
                <a href="" class="close">x</a>
            {% endif %}

        {% endfor %}
    </div>
{% endif %}

<!-- End Message -->
<div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Login</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Login</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="login-area ptb-50">
        <div class="container">
            <div class="login-form">
                <h2>Login</h2>
                <form action="" method="POST">
                	{% csrf_token %}
                    <div class="form-group">
                        <label>Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        {{ form.password }}
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkme" />
                                <label class="form-check-label" for="checkme">Remember me</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 lost-your-password">
                            <a href="#" class="lost-your-password">Forgot your password?</a>
                        </div>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <div class="important-text">
                    <p>Don't have an account? <a href="register.html">Register now!</a></p>
                </div>
                <div class="important-text">
                    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}