{% load static %}

                        <section class="widget widget_tag_cloud">
                            <h3 class="widget-title">Categories</h3>
                            <div class="tagcloud">
                                <a href="#">News</a>
                                <a href="#">Business</a>
                                <a href="#">Health</a>
                                <a href="#">Politics</a>
                                <a href="#">Magazine</a>
                                <a href="#">Sport</a>
                                <a href="#">Tech</a>
                                <a href="#">Video</a>
                                <a href="#">Global</a>
                                <a href="#">Culture</a>
                                <a href="#">Fashion</a>
                            </div>
                        </section>