{% load static %}

                        <section class="widget widget_instagram">
                            <h3 class="widget-title">Instagram</h3>
                            <ul>
                                <li>
                                    <div class="box">
                                        <img src="{% static 'assets/img/latest-news/latest-news-1.jpg' %}" alt="image" />
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="{% static 'assets/img/latest-news/latest-news-2.jpg' %}" alt="image" />
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="{% static 'assets/img/latest-news/latest-news-3.jpg' %}" alt="image" />
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="{% static 'assets/img/latest-news/latest-news-4.jpg' %}" alt="image" />
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="{% static 'assets/img/latest-news/latest-news-5.jpg' %}" alt="image" />
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="box">
                                        <img src="{% static 'assets/img/latest-news/latest-news-6.jpg' %}" alt="image" />
                                        <i class="bx bxl-instagram"></i>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                            </ul>
                        </section>