{% load static %}

                        <section class="widget widget_tag_cloud">
                            <h3 class="widget-title">Tags</h3>
                            <div class="tagcloud">
                                <a href="#">National</a>
                                <a href="#">World</a>
                                <a href="#">Climate</a>
                                <a href="#">Space</a>
                                <a href="#">Global</a>
                                <a href="#">UN</a>
                            </div>
                        </section>