{% load static %}

    <section class="main-news-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-main-news">
                        <a href="#">
                            <img src="{% static 'assets/img/main-news/main-news-1.jpg' %}" alt="image" />
                        </a>
                        <div class="news-content">
                            <div class="tag">World news</div>
                            <h3>
                                <a href="#">Speech to the nation on the current situation and the warning of coronavirus</a>
                            </h3>
                            <span><a href="">Walters</a> / 28 September, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-main-news-inner">
                        <a href="#">
                            <img src="{% static 'assets/img/main-news/main-news-2.jpg' %}" alt="image" />
                        </a>
                        <div class="news-content">
                            <div class="tag">Business</div>
                            <h3>
                                <a href="#">Follow some simple rules to invest money in any business</a>
                            </h3>
                            <span>28 September, 2021</span>
                        </div>
                    </div>
                    <div class="single-main-news-box">
                        <a href="#">
                            <img src="{% static 'assets/img/main-news/main-news-3.jpg' %}" alt="image" />
                        </a>
                        <div class="news-content">
                            <div class="tag">Sport</div>
                            <h3>
                                <a href="#">Who is ahead in the final of the women’s world cup football match</a>
                            </h3>
                            <span>28 September, 2021</span>
                        </div>
                    </div>
                    <div class="single-main-news-box">
                        <a href="#">
                            <img src="{% static 'assets/img/main-news/main-news-4.jpg' %}" alt="image" />
                        </a>
                        <div class="news-content">
                            <div class="tag">Home news</div>
                            <h3>
                                <a href="#">A team of British troops is constantly monitoring cyber attacks</a>
                            </h3>
                            <span>28 September, 2021</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>