{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    {% include 'shared/head.html' %}
</head>
<body>
    <!--================ PRELOADER ================-->
    {% include 'shared/loader.html' %}

    <!--=============== TOP HEADER ===============-->
    {% include 'shared/top_header.html' %}

    <!--================= NAVBAR =================-->
    <div class="navbar-area">
        <!-- Logo -->
        {% include 'shared/navbar/logo.html' %}

        <!-- Main navbar -->
        {% include 'shared/navbar/main_navbar.html' %}

        <!-- Search -->
        {% include 'shared/navbar/search.html' %}
    </div>

    {% block content %}
    {% endblock content %}

    <!--================= FOOTER =================-->
    <section class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <!-- Logo and sosmed -->
                {% include 'shared/footer/logo_and_sosmed.html' %}

                <!-- Recent posts -->
                {% include 'shared/footer/recent_posts.html' %}

                <!-- Useful links -->
                {% include 'shared/footer/useful_links.html' %}

                <!-- Subscribe newsletter -->
                {% include 'shared/footer/subscribe_newsletter.html' %}
            </div>
        </div>
    </section>

    <!-- Copyright -->
    {% include 'shared/footer/copyright.html' %}

    <!--================ SCRIPTS ================-->
    {% include 'shared/scripts.html' %}
    
</body>
</html>
