{% extends 'base.html' %}
{% load static %}
{% block title %}Change password{% endblock %}

{% block content %}

{% if form.errors %}
<div class="shadow-custom messages alert alert-danger
    col-lg-5 mx-auto text-center">
    Could not update password.
    Make sure you provide valid credentials and try again
</div>
{% endif %}

<section class="register-area ptb-50">
    <div class="container">
        <div class="register-form">
            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label 
                        for="old_password" 
                        class="text-muted">Old password</label>
                    <input 
                        class="form-control" 
                        type="password" 
                        name="old_password"
                        autofocus="" 
                        required="" 
                        id="id_old_password">
                </div>
                <div class="form-group">
                    <label 
                        for="new_password1" 
                        class="text-muted">New password</label>
                    <input 
                        class="form-control" 
                        type="password" 
                        name="new_password1"
                        required="" 
                        id="id_new_password1">
                </div>
                <div class="form-group">
                    <label 
                        for="new_password2" 
                        class="text-muted">Confirm password</label>
                    <input 
                        class="form-control" 
                        type="password" 
                        name="new_password2"
                        required="" 
                        id="id_new_password2">
                </div>
                <button 
                    class="btn btn-block btn-warning mb-3" 
                    type="submit">
                    Change password
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}