{% extends 'base.html' %}
{% load static %}


{% block content %}

    <!--================ FEATURED ================-->
    {% include 'newsmag/partials/featured/featured.html' %}

    <!--============== MOST POPULAR ==============-->
    <section class="default-news-area">
        <div class="container">
            <div class="row">

                <!--================ Main Content ================-->
                <div class="col-lg-8">

                    <!--======= Most Pupular News =======-->
                    {% include 'newsmag/partials/most_popular/most_popular_news.html' %}

                    <!--======= Top Videos =======-->
                    {% include 'newsmag/partials/most_popular/top_videos.html' %}

                    <!--======= Politics =======-->
                    {% include 'newsmag/partials/most_popular/politics.html' %}

                    <!--======= Business =======-->
                    {% include 'newsmag/partials/most_popular/business.html' %}

                    <!--======= Sports =======-->
                    {% include 'newsmag/partials/most_popular/sports.html' %}

                    <!--======= Culture =======-->
                    {% include 'newsmag/partials/most_popular/culture.html' %}

                    <!--======= Health =======-->
                    {% include 'newsmag/partials/most_popular/health.html' %}

                </div>
                <!--================ End Main Content ================-->

                <!--================ Aside Content ================-->
                <div class="col-lg-4">
                    <aside class="widget-area">

                        <!--======= Latest news =======-->
                        {% include 'newsmag/shared/latest_news.html' %}

                        <!--======= Featured reports =======-->
                        {% include 'newsmag/shared/featured_reports.html' %}

                        <!--======= Socia media=======-->
                        {% include 'newsmag/shared/social_media.html' %}

                        <!--======= Subscribe newsletter =======-->
                        {% include 'newsmag/shared/subscribe_newsletter.html' %}

                        <!--======= Popular posts =======-->
                        {% include 'newsmag/shared/popular_posts.html' %}

                        <!--======= Most shared =======-->
                        {% include 'newsmag/shared/most_shared.html' %}

                        <!--======= Tags =======-->
                        {% include 'newsmag/shared/tags.html' %}

                        <!--======= Categories =======-->
                        {% include 'newsmag/shared/categories.html' %}

                        <!--======= Instagram =======-->
                        {% include 'newsmag/shared/instagram.html' %}

                    </aside>
                </div>
                <!--================ End Aside Content ================-->

            </div>
        </div>
    </section>

{% endblock content %}